*{
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 233);
}

#header-navigator {
    background-color: rgb(27, 90, 163);
    border-radius: 0;
    border-bottom: 4px solid black;
}

.container .navbar-header a.navbar-brand{
    color:rgb(133, 220, 226);
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2em;
}

.container .navbar-header a.navbar-brand:hover{
    text-decoration: none;

}

#header-navigator .container .navbar-header{
    height: 60px;
}
#menu .nav.navbar-nav a{
    text-align: center;
    color:rgb(253, 252, 252);
    font-weight: 700;
    font-size: 15px;
}

#menu .nav.navbar-nav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

#title>h1{
    font-weight: bolder;
    color: rgb(20, 110, 94);
    -webkit-text-stroke-color: rgb(49, 192, 211);
    -webkit-text-stroke-width: 1.00px; 
}

section{
    text-align: center;
    margin:15px;
    border: 2px solid black;
}

section:hover{
    box-shadow: 5px 10px 8px 10px rgb(117, 117, 117);
}

section#chicken h3{
    color: rgb(221, 145, 52);
    font-weight: bolder;
    -webkit-text-stroke-color: rgb(44, 43, 43);
    -webkit-text-stroke-width: 1.00px; 
}

section#chicken {
    background-color:rgb(224, 215, 203); ;
}

section#beef h3{
    color: rgb(92, 230, 126);
    font-weight: bolder;
    -webkit-text-stroke-color: rgb(44, 43, 43);
    -webkit-text-stroke-width: 1.00px; 
}

section#beef {
    background-color: rgb(186, 223, 195);
}

section#sushi h3{
    color: rgb(144, 23, 192);
    font-weight: bolder;
    -webkit-text-stroke-color: rgb(44, 43, 43);
    -webkit-text-stroke-width: 1.00px; 
}

section#sushi{
    background-color: rgb(188, 173, 194);
}
p{
    padding:15px 25px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content>.container .row .col-xs-12{
    margin:15px  0 0 0 ;
}

.container .row .col-xs-12{
    margin:15px;
    padding: 0;
}



@media (max-width:768px) {
    section{
        margin:30px;
    }
    #menu{
        border-top: 4px solid black;
    }
}